<div class="row">
  <h3> Conocimientos</h3>
<div class="col-sm-4  text-center">
  <circle-progress
  [percent]="90"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/html.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div class=" col-sm-4 text-center">
  <circle-progress
  [percent]="75"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/css.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div  class="col-sm-4 text-center">
  <circle-progress
  [percent]="68"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/js.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div  class=" col-sm-4 text-center">
  <circle-progress
  [percent]="50"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/angular.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div  class="col-sm-4 text-center">
  <circle-progress
  [percent]="50"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="100"
  [imageSrc]="'../assets/vue.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div  class="col-sm-4 text-center">
  <circle-progress
  [percent]="65"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/laravel.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>

</div>
<div  class="col-sm-4 text-center">
  <circle-progress
  [percent]="35"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [imageSrc]="'../assets/Git-hud.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div  class="col-sm-4 text-center">
  <circle-progress
  [percent]="60"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/photoshop.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div  class="col-sm-4 text-center">
  <circle-progress
  [percent]="60"
  [radius]="70"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [imageSrc]="'../assets/Word.png'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'grey'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
</div>
