<div class="row">
  <div class="contenedor">
    <div class="logos">
      <img
        src="../../../../assets/logoarg.png"
        alt="logo de argentina programa"
        id="logo"
      />
    </div>

    <div class="redes">
      <a href=""><img src="../../../../assets/Facebook.png" id="facebook" /></a>
      <a href=""
        ><img src="../../../../assets/Instagram.png" id="instagram"
      /></a>
      <a href=""
        ><img src="../../../../assets/linkedin.png" id="linkeding"
      /></a>
      <a class="git"href=""><img src="../../../../assets/Git-hud.png" id="github" /></a>
   
        <button type="button" class="btn btn-outline-primary boton1">Ingresar</button></div>
   
    <div class="boton2">
      
     <button type="button" class="btn btn-outline-primary ">Ingresar</button></div>
  </div>
</div>
