<div class="row">
<h2>Proyectos terminados</h2>
<div class="contenido">
  <div class="col-sm-12 col-md-7 col-lg-7 posicion1">
    <h2>Pagina web para taller Mecánico </h2>
    <p>
    lllllllllllllllllllll
    hjhjghjgjgjgjgjhghgjgkghkg
    hdfhfdhdhdhdfhdhdhdhdhdhdhh
    hfhfhhffhfhfhfhfhfhfhfhfhfh
    sdggdddfdddggdhghjhjklkhjkjh
    fgdfgdgdfgdgdfhghgjghkghkgkk
    sdfsdfdhfgffghfhfhfhfh
    </p>

</div>
<div class="col-sm-12 cul-md-3 col-lg-3 offset-md-1 offset-lg-1 posicion2">
  <div class="padre">
<img src="../../assets/web2.jpeg" class="omg-fluig imgen1"></div>

</div>

<div class="col-sm-12 col-md-7 col-lg-7 posicion1">
  <h2>Pagina web para taller Mecánico </h2>
  <p>
  lllllllllllllllllllll
  hjhjghjgjgjgjgjhghgjgkghkg
  hdfhfdhdhdhdfhdhdhdhdhdhdhh
  hfhfhhffhfhfhfhfhfhfhfhfhfh
  sdggdddfdddggdhghjhjklkhjkjh
  fgdfgdgdfgdgdfhghgjghkghkgkk
  sdfsdfdhfgffghfhfhfhfh
  </p>

</div>
<div class="col-sm-12 cul-md-3 col-lg-3 offset-md-1 offset-lg-1 posicion2">
<div class="padre">
<img src="../../assets/web1.jpeg" class="omg-fluig imgen2"></div>

</div>
<div class="col-sm-12 col-md-7 col-lg-7 posicion1">
  <h2>Pagina web para taller Mecánico </h2>
  <p>
  lllllllllllllllllllll
  hjhjghjgjgjgjgjhghgjgkghkg
  hdfhfdhdhdhdfhdhdhdhdhdhdhh
  hfhfhhffhfhfhfhfhfhfhfhfhfh
  sdggdddfdddggdhghjhjklkhjkjh
  fgdfgdgdfgdgdfhghgjghkghkgkk
  sdfsdfdhfgffghfhfhfhfh
  </p>

</div>
<div class="col-sm-12 cul-md-3 col-lg-3 offset-md-1 offset-lg-1 posicion2">
<div class="padre">
<img src="../../assets/web3.jpeg" class="omg-fluig imgen1"></div>

</div>

</div>
  </div>
