.row{

  padding: 20px;
  background-color:rgb(163, 163, 163)
}

.contenido{
  width:auto;}
 .posicion2{
margin-top:10px;
}
 

.posicion1, .posicion2 {

  display: inline-block;
  text-align:justify
}

.imgen1{
  box-shadow:10px 10px 30px black;

 }

 img{width:200px;
  height:400px;}
  @media(max-width:700px){
   
    
    .posicion2 {
    margin-left:25%;
    }
     }
  