/*  espacio de la clase row*/
.row{
  padding:17px;
}
/* color de fondo de acerca de mí*/
div{
  background-color: rgb(163, 163, 163);
  text-align:center;
}

.nombre{
font-weight:bold ;
font-style:Blue;
margin-top:30%;

}



@media(min-width:576px){
  #perfil{
    left: 3%;
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 2px 2px 2px grey;
    top:600px;
   }


}
@media(max-width:575px){



  #perfil{
    left: 33%;
  
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 2px 2px 2px grey;
    border-radius: 100%;
    top:640px;

  }

 }


.nombre{
    margin-top: 30%;
    font-weight:bold;
    }
