<div class="row">
  <h1>Mi educación</h1>
  <div class="col-12">
    <ul>
      <li>
        <h2>Estudio</h2> -<h3>(años)</h3>
      </li>
      <p>
        loremfgagergergdr hrtrthergheqg
        tysrtyrwyeryertyergte
        yertyertwertwetwetrwet
        fgdargergwergergergerg
        rtertyertertwerterwtrt
        fgdgerterterterterterrt
        fgsdagegetgergregrgrrg
      </p>
    </ul>
    <ul>
      <li>
        <h2>Estudio</h2> -<h3>(años)</h3>
      </li>
      <p>
        loremfgagergergdr hrtrthergheqg
        tysrtyrwyeryertyergte
        yertyertwertwetwetrwet
        fgdargergwergergergerg
        rtertyertertwerterwtrt
        fgdgerterterterterterrt
        fgsdagegetgergregrgrrg
      </p>
    </ul>
    <ul>
      <li>
        <h2>Estudio</h2> -<h3>(años)</h3>
      </li>
      <p>
        loremfgagergergdr hrtrthergheqg
        tysrtyrwyeryertyergte
        yertyertwertwetwetrwet
        fgdargergwergergergerg
        rtertyertertwerterwtrt
        fgdgerterterterterterrt
        fgsdagegetgergregrgrrg
      </p>
    </ul>
  
  
  </div>
  
  </div>