<footer class="text-center footer-style">
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-col">
              <h3>Dirección</h3>
              <p>
                 Bueno Aires - Argentina <br />
                  Calle 46 N°4763
              </p>
          </div>
          <div class="col-md-4 footer-col">
              <h3>Mis redes</h3>
              <ul class="list-inline">
                  <li>
                      <a  href=""><img src="../../../../assets/Facebook.png" id="facebook"></a>
                  </li>
                  <li>
                    <a href=""><img src="../../../../assets/Instagram.png" id="instagram"></a>
                    
                  
                    
                  </li>
                  <li>
                      <a href=""><img src="../../../../assets/linkedin.png" id="linkeding"></a>
                  </li>
                  <li>
                        <a href=""><img src="../../../../assets/Git-hud.png" id="github"></a>
                  </li>
                  
              </ul>
          </div>
          <div class="col-md-4 footer-col">
              <h3>Proyecto integrador Argentina Programa</h3>
              <p>Creador de paginas web!  <a href="https://softdelete.ar">Softdelete.ar</a></p>
          </div>
      </div>
  </div>
</footer>